<section class="answers">
  <div class="container">
    <div class="test-name"><span>Результат прохождения теста</span>
      <img src="/img/small-arrow-light.png" alt="Стрелка">
      <span class="test-pre-title answers" id="pre-title">
<!--            Тест №1. “JavaScript: Начальный уровень”-->
        </span></div>

    <h1 class="big-title"><span>Правильные ответы</span> к тесту</h1>
    <p class="user">Тест выполнил <span id="user-info"></span></p>

    <div class="test-question" id="questions">
      <!--            <div class="test-question-title" id="title"><span>Вопрос 2: </span>Тут должен быть текст вопроса?</div>-->
      <!--            <div class="test-question-options" id="options">-->
      <!--<div class="test-question-option">
          <input type="radio" name="answer" id="answer-one">
          <label for="answer-one">Вариант ответа 1</label>
      </div>
      <div class="test-question-option" >
          <input type="radio" name="answer" id="answer-two">
          <label for="answer-two">Вариант ответа 2</label>
      </div>
      <div class="test-question-option">
          <input type="radio" name="answer" id="answer-three">
          <label for="answer-three">Вариант ответа 3</label>
      </div>
      <div class="test-question-option">
          <input type="radio" name="answer" id="answer-four">
          <label for="answer-four">Вариант ответа 4</label>
      </div>-->
      <!--            </div>-->
    </div>

    <div class="back-to-results link-arrow">
      <a href="javascript:void(0)" id="goback">Обратно к моему результату теста
        <img src="img/small-arrow.png" alt="Стрелка"></a>
    </div>
  </div>
</section>
